<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

</head>
<div id="alteraSolicitacaoModal" class="modal fade" role="dialog"
	th:fragment="alteraSolicitacao" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background: #093159;">
				<h4 class="modal-title">
					<span style="font-weight: bold; color: white;">Editar
						Solicitação</span>
				</h4>
			</div>

			<form th:action="@{/alteraSolicitacao}" method="post"
				th:object="${solicitacao}" id="altera-solicitacao-form">
				<!-- Input values -->
				<div class="modal-body container col-md-8">
					<div class="form-group">
						<label>ID</label><input type="text" th:field="*{id}" name="id"
							class="form-control col-sm-3" readonly="readonly"
							required="required" />
					</div>
					<div class="form-group">
						<label>Título</label><input type="text" th:field="*{titulo}"
							name="titulo" class="form-control" required="required" />
					</div>
					<div class="form-group">
						<label>Descrição</label>
						<textarea th:field="*{descricao}" name="descricao"
							class="form-control" required="required" rows="3"
							style="resize: none;"></textarea>
					</div>
					<div class="form-group">
						<label>Cliente</label> <select th:field="*{cliente}"
							name="tipoSolicitacao" class="form-control">
							<option value="">Selecione</option>
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.nome}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Tipo de Solicitação</label> <select 
							th:field="*{tipoSolicitacao}" name="tipoSolicitacao"
							class="form-control">
							<option value="">Selecione</option>
							<option th:each="tipo : ${tipos}" th:value="${tipo.id}"
								th:text="${tipo.descricao}"></option>
						</select>
					</div>					
					<div class="form-row">
						<div class="form-group col-md-7">
							<label>Data da Solicitação</label><input type="text"
								th:field="*{data}" name="data" class="form-control"
								required="required" />
						</div>
						<div class="form-group col-md-5">
							<label>Status</label> <select th:field="*{status}" name="status"
								class="form-control">
								<option value="0">Selecione</option>
								<option value="1">Atendido</option>
								<option value="2">Aguardando</option>
							</select>
						</div>
					</div>
				</div>

				<!-- buttons -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>

			</form>
		</div>
	</div>
</div>
</html>