<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>COAD - Soluções Confiáveis</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet">
<link href="/font-awesome-4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href="/css/style1.css" rel="stylesheet">
<script type="text/javascript">
	function abreFormTipoSolicitacaoModal() {
		$.ajax({

			url : "/cadastraTipoSolicitacao",
			success : function(data) {
				$("#formTipoSolicitacaoModalHolder").html(data);
				$('#formTipoSolicitacaoModal').modal({
					backdrop : 'static'
				});
			}
		});
	}
	function limparMensagem() {
		document.getElementById("success").style.display = 'none';
	}
</script>
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center mt-3 mb-3"
				href="/inicio">
				<div id="logo">
					<img src="/img/logoCOAD.png" />
				</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo"> <i
					class="fas fa-fw fa-cog"></i> <span>Cadastros</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							href="http://localhost:8080/cadastraCliente">Cliente</a><a
							class="collapse-item"
							href="http://localhost:8080/cadastraSolicitacao">Solicitação</a>
					</div>
				</div></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapsePages"
				aria-expanded="true" aria-controls="collapsePages"> <i
					class="fas fa-fw fa-table"></i> <span>Tabelas</span>
			</a>
				<div id="collapsePages" class="collapse"
					aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="http://localhost:8080/clientes">Clientes</a>
						<a class="collapse-item"
							href="http://localhost:8080/tipoSolicitacoes">Tipos de
							Solicitações</a> <a class="collapse-item"
							href="http://localhost:8080/solicitacoes">Solicitações</a>
					</div>
				</div></li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<!-- 						<h1 class="h3 mb-0 text-gray-800">Cadastrar Solicitação</h1> -->
						<a href="#"
							th:onclick="'javascript:abreFormTipoSolicitacaoModal();'"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fa-sm text-white-50"></i>Cadastrar tipo de solicitação</a>
					</div>

					<!-- Content Row -->
					<div class="row">

						<div class="card-body mt-5 col-md-5"
							style="margin-left: auto; margin-right: auto; margin-top: 3%;">
							<div class="card shadow mb-4 text-center">
								<h1 class="card-title mt-3"
									style="color: black; margin-top: 1%; font-weight: bold;">Cadastrar
									Solicitação</h1>
								<div class="container">
									<form class="form-group" method="post"
										th:object="${solicitacao}"
										th:action="@{/formSalvasolicitacao}">
										<div id="success"
											class="mdl-list__item mt-2 alert alert-success"
											th:if="${msg_resultado}">
											<p id="p-mensagem-sucesso" class="sucesso-msg"
												th:text="${msg_resultado}">...</p>
										</div>
										<div class="form-row">
											<div class="col">
												<div class="form-row">
													<div class="form-group col-md-6 mt-3">
														<label id="inputSolicitacaoCliente-label"><select
															id="inputSolicitacaoCliente" th:field="*{cliente}"
															name="cliente" class="form-control">
																<option value="">Cliente</option>
																<option th:each="cliente : ${clientes}"
																	th:value="${cliente.id}" th:text="${cliente.nome}"></option>
														</select></label>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-6 mt-3">
														<label id="inputSolicitacaoTipo-label"><select
															th:field="*{tipoSolicitacao}" id="inputSolicitacaoTipo"
															name="tipoSolicitacao" class="form-control">
																<option value="">Tipo de Solicitação</option>
																<option th:each="tipo : ${tipos}" th:value="${tipo.id}"
																	th:text="${tipo.descricao}"></option>
														</select></label>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-6 mt-3">
														<label id="inputSolicitacaoTitulo-label"><input
															class="form-control" id="inputSolicitacaoTitulo"
															placeholder="Título" type="text" value=""
															th:field="*{titulo}" required="required" /></label>
													</div>
												</div>
												<div class="form-row">
													<div hidden class="form-group col-md-6 mt-3">
														<label id=""><input type="hidden"
															th:value="*{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
															name="data" class="form-control" required="required" /></label>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-6 mt-3">
														<label id="inputSolicitacaoDescricao-label"><textarea id="inputSolicitacaoDescricao" th:field="*{descricao}"
																name="descricao" class="form-control"
																required="required" rows="7"
																style="resize: none;" placeholder="Descrição"></textarea></label>
													</div>
												</div>
												<div class="form-row">
													<div hidden class="form-group col-md-6 mt-3">
														<label>Status</label> <select th:field="*{status}"
															name="status" class="form-control">
															<option value="2"></option>
														</select>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-12 mt-3 mb-4">
														<button type="submit"
															class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
															id="salvar">Salvar</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; COAD 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- modal -->
	<div th:fragment="formTipoSolicitacao"
		id="formTipoSolicitacaoModalHolder"></div>

</body>
</html>