<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<style type="text/css">
label {
	font-weight: bold;
	text-color: gray;
}
</style>
</head>
<div id="visualizaSolicitacaoModal" class="modal fade" role="dialog"
	th:fragment="visualizaSolicitacao" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background: #093159;">
				<h4 class="modal-title">
					<span style="font-weight: bold; color: white;">Dados da
						Solicitação</span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<form method="post" th:object=${solicitacao}>
						<div class="form-row">
							<div class="col">
								<div class="form-group col-md-3 mt-3 ml-5">
									<label for="inputId">ID</label><input
										class="form-control-plaintext md-col-3" type="text"
										readonly="readonly" th:field="*{id}" name="id" />
								</div>
								<hr>
								<div class="form-row">
									<div class="form-group col-md-5 mt-3 ml-5">
										<label for="inputCliente">Cliente</label> <input
											class="form-control-plaintext md-col-6" type="text"
											readonly="readonly" th:field="*{cliente.nome}"
											name="clienteNome" />
									</div>
									<div class="form-group col-md-5 mt-3">
										<label for="inputTipo">Tipo de Solicitação</label> <input
											class="form-control-plaintext md-col-6" type="text"
											readonly="readonly" th:field="*{tipoSolicitacao.descricao}"
											name="tipoSolicitacao" />
									</div>
								</div>
								<hr>
								<div class="form-row">
									<div class="form-group col-md-6 mt-3 ml-5">
										<label for="inputTitulo">Título</label><input
											class="form-control-plaintext md-col-3" type="text"
											readonly="readonly" th:field="*{titulo}" name="titulo" />
									</div>
									<div class="form-group col-md-4 mt-3">
										<label for="inputData">Data da Solicitação</label><input
											class="form-control-plaintext md-col-3" type="text"
											readonly="readonly"
											th:value="*{#dates.format(data, 'dd-MM-yyyy')}" name="data" />
									</div>
								</div>
								<hr>
								<div class="form-group col-md-12 mt-3">
									<label for="iputDescricao">Descrição</label>
									<textarea class="form-control-plaintext md-col-6" type="text"
										readonly="readonly" th:field="*{descricao}" name="descricao"
										rows="5" style="resize: none"></textarea>
								</div>
								<hr>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</html>