<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/style.css">
<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/css/style1.css" rel="stylesheet">

</head>
<div id="alteraClienteModal" class="modal fade" role="dialog"
	th:fragment="alteraCliente" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background: #093159;">
				<h4 class="modal-title">
					<span style="font-weight: bold; color: white;">Editar
						Cliente</span>
				</h4>
			</div>
			<form th:action="@{/alteraCliente}" method="post"
				th:object="${cliente}" id="altera-cliente-form">
				<div class="modal-body container col-md-8">
					<div class="form-group">
						<label>ID</label> <input type="text" th:field="*{id}" name="id"
							class="form-control col-md-3" readonly="readonly"
							required="required" style="border: none;" />
					</div>
					<div class="form-group mt-3">
						<label>Nome</label> <input type="text" th:field="*{nome}"
							name="nome" class="form-control" required="required"
							placeholder="Digite seu nome" />
					</div>
					<div class="form-group mt-3">
						<label>E-mail</label> <input type="email" th:field="*{email}"
							name="email" class="form-control" required="required"
							placeholder="Digite seu e-mail" />
					</div>
					<div class="form-group mt-3">
						<label>Telefone Residencial</label> <input type="text"
							th:field="*{foneResidencial}" name="foneResidencial"
							class="form-control" required="required"
							placeholder="Telefone residencial" />
					</div>
					<div class="form-group mt-3">
						<label>Telefone Comercial</label> <input type="text"
							th:field="*{foneComercial}" name="foneComercial"
							class="form-control" placeholder="Telefone comercial" />
					</div>
					<div class="form-group mt-3">
						<label>Telefone Celular</label> <input type="text"
							th:field="*{foneCelular}" name="foneCelular" class="form-control"
							placeholder="Telefone celular" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>
</html>